<a href="https://colab.research.google.com/github/rmaqui07/database/blob/main/Tarea2_BD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Guía SQL Avanzado
### **INF3831 - Bases de Datos**
**Profesor: Domagoj Vrgoč / Ayudante: Valentina Álvarez**


## 1. Introducción

---

Durante esta clase vamos a aprender los conceptos avanzados de SQL. Vamos a aprender a anidar consultas, hacer agregación y algunos comandos especiales.

### 1.1 Requisitos

Correr lo siguiente:

In [2]:
!pip install openai

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting openai
  Downloading openai-0.27.6-py3-none-any.whl (71 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 71.9/71.9 kB 5.3 MB/s eta 0:00:00
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.10/dist-packages (from openai) (2.27.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from openai) (4.65.0)
Collecting aiohttp
  Downloading aiohttp-3.8.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.0/1.0 MB 35.6 MB/s eta 0:00:00
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (1.26.15)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (2.0.12)
Collecting async-timeout<5.0,>=4.0.0a3
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Collecting aiosignal>=1.1.2
  Downloading aiosignal-1.3.1-py3-none-any.whl (7.6 kB)
Collecting multidict<7.0,>=4.5
  Downloading multidict-6.0.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (114 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 114.5/114.5 kB 14.0 MB/s eta 0:00:00
Collecting frozenlist>=1.1.1
  Downloading frozenlist-1.3.3-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (149 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 149.6/149.6 kB 21.0 MB/s eta 0:00:00
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (23.1.0)
Collecting yarl<2.0,>=1.0
  Downloading yarl-1.9.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (268 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 268.8/268.8 kB 28.6 MB/s eta 0:00:00
Installing collected packages: multidict, frozenlist, async-timeout, yarl, aiosignal, aiohttp, openai
Successfully installed aiohttp-3.8.4 aiosignal-1.3.1 async-timeout-4.0.2 frozenlist-1.3.3 multidict-6.0.4 openai-0.27.6 yarl-1.9.2

In [3]:
!sudo service postgresql start

 * Starting PostgreSQL 12 database server
   ...done.

In [5]:
%load_ext sql
%config SqlMagic.feedback=False 
%config SqlMagic.autopandas=True

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [6]:
%sql postgresql+psycopg2://@/postgres
%sql create schema guia;

MetaData.__init__() got an unexpected keyword argument 'bind'
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])
Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [1]:
# install
!pip install SQLAlchemy==1.4.46
!apt update
!apt install postgresql postgresql-contrib &>log
!service postgresql start
!sudo -u postgres psql -c "CREATE USER root WITH SUPERUSER"
# set connection
%load_ext sql
%config SqlMagic.feedback=False 
%config SqlMagic.autopandas=True
%sql postgresql+psycopg2://@/postgres
%sql create schema guia;
%sql set search_path to guia;

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting SQLAlchemy==1.4.46
  Downloading SQLAlchemy-1.4.46-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 31.5 MB/s eta 0:00:00
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy==1.4.46) (2.0.2)
Installing collected packages: SQLAlchemy
  Attempting uninstall: SQLAlchemy
    Found existing installation: SQLAlchemy 2.0.10
    Uninstalling SQLAlchemy-2.0.10:
      Successfully uninstalled SQLAlchemy-2.0.10
Successfully installed SQLAlchemy-1.4.46
Get:1 http://security.ubuntu.com/ubuntu focal-security InRelease [114 kB]
Get:2 https://cloud.r-project.org/bin/linux/ubuntu focal-cran40/ InRelease [3,622 B]
Get:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2004/x86_64  InRelease [1,581 B]
Hit:4 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu focal InRelease
Hit:5 http://archive.ubuntu.com/ubuntu focal InRelease
Get:6 http://archive.ubuntu.com/ubuntu focal-updates InRelease [114 kB]
Hit:7 http://ppa.launchpad.net/cran/libgit2/ubuntu focal InRelease
Get:8 http://security.ubuntu.com/ubuntu focal-security/main amd64 Packages [2,669 kB]
Hit:9 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu focal InRelease
Get:10 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2004/x86_64  Packages [1,009 kB]
Hit:11 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu focal InRelease
Get:12 http://archive.ubuntu.com/ubuntu focal-backports InRelease [108 kB]
Hit:13 http://ppa.launchpad.net/ubuntugis/ppa/ubuntu focal InRelease
Get:14 http://archive.ubuntu.com/ubuntu focal-updates/main amd64 Packages [3,150 kB]
Fetched 7,169 kB in 2s (3,431 kB/s)
Reading package lists... Done
Building dependency tree
Reading state information... Done
25 packages can be upgraded. Run 'apt list --upgradable' to see them.
 * Starting PostgreSQL 12 database server
   ...done.
CREATE ROLE
 * postgresql+psycopg2://@/postgres
 * postgresql+psycopg2://@/postgres

Empty DataFrame
Columns: []
Index: []

### 1.2 Outline

En esta actividad aprenderemos:


- Agregación y agrupación
- Consultas anidadas
- Nulos
- Insersión y eliminación más compleja


### 1.3 Esquema

Para esta actividad vamos a trabajar con el siguiente esquema que, como recordarás, corresponde al de la actividad pasada:

- `Capitanes(cid INT PRIMARY KEY, cnombre VARCHAR(100), crating FLOAT, cedad INT)`
- `Botes(bid INT PRIMARY KEY, bnombre VARCHAR(100), bcolor VARCHAR(100))`
- `Reservas(cid INT, bid INT, fecha DATE, PRIMARY KEY(cid, bid))`

Que corresponde a capitanes que reservan ciertos botes. El `cid` y `bid` en la tabla `Reservas` proviene de las tablas `Capitanes` y `Botes` respectivamente.

### 1.4 Base de datos

Corre las siguiente celdas para crear la base de datos y poblarla.

In [2]:
%%sql
DROP TABLE IF EXISTS Capitanes;
CREATE TABLE Capitanes(cid INT PRIMARY KEY, cnombre VARCHAR(100), crating FLOAT, cedad INT);
INSERT INTO Capitanes VALUES(23, 'King Arturo', 8, 31);
INSERT INTO Capitanes VALUES(29, 'Juan', 1, 33);
INSERT INTO Capitanes VALUES(31, 'Andy', 8, 55);
INSERT INTO Capitanes VALUES(32, 'Felipe', 8.4, 25);
INSERT INTO Capitanes VALUES(58, 'Oscar', 10, 35);
INSERT INTO Capitanes VALUES(64, 'Isidora', 7.5, 35);
INSERT INTO Capitanes VALUES(71, 'Pedro', 10, 16);
INSERT INTO Capitanes VALUES(74, 'Isidora', 9, 35);
INSERT INTO Capitanes VALUES(85, 'Rosa', 3, 25);
INSERT INTO Capitanes VALUES(95, 'Romano', 5.5, 63);


DROP TABLE IF EXISTS Reservas;
CREATE TABLE Reservas(cid INT, bid INT, fecha DATE, PRIMARY KEY(cid, bid));
INSERT INTO Reservas VALUES(23, 101, '2016-10-10');
INSERT INTO Reservas VALUES(23, 102, '2016-10-10');
INSERT INTO Reservas VALUES(23, 103, '2016-10-08');
INSERT INTO Reservas VALUES(23, 104, '2017-10-07');
INSERT INTO Reservas VALUES(31, 102, '2017-11-10');
INSERT INTO Reservas VALUES(31, 103, '2018-11-06');
INSERT INTO Reservas VALUES(31, 104, '2018-11-12');
INSERT INTO Reservas VALUES(64, 101, '2018-09-05');
INSERT INTO Reservas VALUES(64, 102, '2018-09-08');
INSERT INTO Reservas VALUES(74, 103, '2018-09-08');

DROP TABLE IF EXISTS Botes;
CREATE TABLE Botes(bid INT PRIMARY KEY, bnombre VARCHAR(100), bcolor VARCHAR(100));
INSERT INTO Botes VALUES(101, 'Catamaran', 'Azul');
INSERT INTO Botes VALUES(102, 'Catamaran', 'Rojo');
INSERT INTO Botes VALUES(103, 'Endurance', 'Verde');
INSERT INTO Botes VALUES(104, 'Yate', 'Rojo');

 * postgresql+psycopg2://@/postgres

Empty DataFrame
Columns: []
Index: []

Luego de esto, tus tablas deberían verse de la siguiente forma:


#### Capitanes

| cid | cnombre     | crating | cedad |
|-----|-------------|---------|-------|
| 23  | King Arturo | 8       | 31    |
| 29  | Juan        | 1       | 33    |
| 31  | Andy        | 8       | 55    |
| 32  | Felipe      | 8.4     | 25    |
| 58  | Oscar       | 10      | 35    |
| 64  | Isidora     | 7.5     | 35    |
| 71  | Pedro       | 10      | 16    |
| 74  | Isidora     | 9       | 35    |
| 85  | Rosa        | 3       | 25    |
| 95  | Romano      | 5.5     | 63    |


#### Botes

| bid | bnombre   | bcolor |
|-----|-----------|--------|
| 101 | Catamaran | Azul   |
| 102 | Catamaran | Rojo   |
| 103 | Endurance | Verde  |
| 104 | Yate      | Rojo   |



#### Reservas

| cid | bid | fecha    |
|-----|-----|----------|
| 23  | 101 | 10/10/16 |
| 23  | 102 | 10/10/16 |
| 23  | 103 | 8/10/16  |
| 23  | 104 | 7/10/17  |
| 31  | 102 | 10/11/17 |
| 31  | 103 | 6/11/18  |
| 31  | 104 | 12/11/18 |
| 64  | 101 | 5/9/18   |
| 64  | 102 | 8/9/18   |
| 74  | 103 | 8/9/18   |

## 2. Actividad

---

### 2.1 Agregación

En general SQL soporta varias funciones de agregación: `MAX`, `MIN` (mínimo), `AVG` (promedio), `SUM` (suma). Intenta hacer las siguientes consultas:

**1.** Encuentra el rating promedio de los capitanes mayores a 45 años.

También podemos usar `COUNT` para contar tuplas. Hay dos versiones (pruébalas!):

- `SELECT COUNT(*) FROM Tabla` cuenta cuantas tuplas tiene la tabla.
- `SELECT COUNT(DISTINCT cnombre) FROM Capitanes` cuenta cuantos nombres distintos hay en Capitanes.

En general `SELECT COUNT(*) FROM Tabla` y S`ELECT COUNT(atributo) FROM Tabla` es lo mismo, pero hay casos en los que es distinto: cuando las tablas tienen valores nulos o indefinidos. Hablaremos sobre esto más adelante en el curso.

Ahora realiza las siguientes consultas.

**2.** Encuentra cuantos capitanes menores de 40 años hay.

**3.** Cuenta la cantidad de reservas hechas a botes de color rojo.

Finalmente podemos usar `GROUP BY` para ir agrupando los resultados. Prueba con la consulta:

In [4]:
%%sql
SELECT SUM(cedad)
FROM Capitanes
GROUP BY cnombre

 * postgresql+psycopg2://@/postgres

   sum
0   16
1   35
2   25
3   70
4   55
5   33
6   63
7   31
8   25

¿Qué pasó con Isidora? Lo que hacemos es agrupar a las dos tuplas con nombre Isidora en una, y sumamos la edad. Prueba ahora:

In [ ]:
%%sql
SELECT bcolor, count(bcolor)
FROM Botes
GROUP BY bcolor

Ahora realiza las siguientes consultas:

**4.** Encuentra para los capitanes el promedio del rating por cada edad distinta.

**5.** Encuentra el número de reservas por cada color de bote.

**6.** Encuentra el número de reservas por capitán y por color de bote.

### 2.2 Consultas Anidadas

Has observado que cada consulta entrega una tabla, los atributos de esa tabla son lo que pones en el SELECT. Esto significa que podemos poner cualquier consulta SQL en el FROM. Vamos a ver cómo realizar esto.

**7.** Escribe una consulta que entregue los nombres de los capitanes junto a los bid de los botes que han reservado, pero contando solo las reservas hechas después del primero de octubre del 2017.

Sea $Q$ la consulta anterior. ¿Qué va a retornar la siguiente consulta? (Ojo, tienes que reemplazar el valor de $Q$ en la celda siguiente)

**Importante**: cada vez que quieras anidar una consulta en el `FROM`, debes darle un alias. En el caso anterior el alias es Res2017.

Ahora:

**8.** Encuentra los nombres de los capitanes que tienen más de 20 años y que no han reservado un bote rojo.

**9.** Encuentra el nombre del capitán con el mejor rating. Utiliza consultas anidadas.

**10.** Encuentra los capitanes cuya edad es menor que el promedio.

**11.** Encuentra los botes que no han sido reservados por el capitán con peor rating.

**12.** Encuentre los nombres de los capitanes que han reservado todos los botes. ¿Puedes escribir esto sin usar consultas anidadas?

No se puede hacer sin, porque igual necesito proyectar solo el cid de la resta

### 2.3 Nulos

Hasta el momento hemos asumido que cada valor de las tuplas es conocida, pero ahora veremos que pueden no serlo. En SQL tenemos el valor especial `null` para estos casos. Por ejemplo, cuando un capitán se une al club de yates, puede no tener un rating asignado aún. En este caso, podríamos agregar a la tabla `Capitanes`la tupla `(98, 'Constanza', null, 20)`.

In [ ]:
%%sql
INSERT INTO Capitanes VALUES(98, 'Constanza', null, 20);
SELECT * FROM Capitanes;

 * postgresql+psycopg2://@/postgres
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "capitanes_pkey"
DETAIL:  Key (cid)=(98) already exists.

[SQL: INSERT INTO Capitanes VALUES(98, 'Constanza', null, 20);]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

Comparar `crating` con diferentes valores nos dará como resultado `unknown`. Prueba ejecutando la siguiente consulta, luego cambia el `=` por un `<`, luego por `>` y finalmente por `<>` para ver qué pasa.

In [ ]:
%%sql
SELECT * 
FROM Capitanes 
WHERE crating = 8;

 * postgresql+psycopg2://@/postgres

   cid      cnombre  crating  cedad
0   23  King Arturo      8.0     31
1   31         Andy      8.0     55

En SQL tenemos el operador `IS NULL` para saber si el valor de una columna es *null*. Ejecuta la siguiente consulta. Luego cambia `IS NULL` por `IS NOT NULL`.

In [ ]:
%%sql
SELECT * 
FROM Capitanes 
WHERE crating IS NULL;

 * postgresql+psycopg2://@/postgres

   cid    cnombre crating  cedad
0   98  Constanza    None     20

También existen unas variantes de *join*, llamados **_outer joins_** que dependen de valores nulos. Para ejemplificar, agreguemos las siguientes tuplas a la tabla `Reservas`.

In [ ]:
%%sql
INSERT INTO Reservas VALUES(98, 101, '2018-09-10');
INSERT INTO Reservas VALUES(98, 102, null);

 * postgresql+psycopg2://@/postgres

Empty DataFrame
Columns: []
Index: []

Primero veamos el resultado de hacer *join* como lo estábamos haciendo hasta el momento:

In [ ]:
%%sql
SELECT * 
FROM Capitanes C, Reservas R
WHERE C.cid = R.cid;

 * postgresql+psycopg2://@/postgres

    cid      cnombre  crating  cedad  cid  bid       fecha
0    23  King Arturo      8.0     31   23  101  2016-10-10
1    23  King Arturo      8.0     31   23  102  2016-10-10
2    23  King Arturo      8.0     31   23  103  2016-10-08
3    23  King Arturo      8.0     31   23  104  2017-10-07
4    31         Andy      8.0     55   31  102  2017-11-10
5    31         Andy      8.0     55   31  103  2018-11-06
6    31         Andy      8.0     55   31  104  2018-11-12
7    64      Isidora      7.5     35   64  101  2018-09-05
8    64      Isidora      7.5     35   64  102  2018-09-08
9    74      Isidora      9.0     35   74  103  2018-09-08
10   98    Constanza      NaN     20   98  101  2018-09-10
11   98    Constanza      NaN     20   98  102        None

Al realizar un *left outer join* de `Capitanes` con `Reservas` las filas con capitanes que no hayan hecho reservas aparecen en el resultado. Para hacer un *left outer join* puedes hacer lo siguiente:

```sql
SELECT * 
FROM Capitanes LEFT OUTER JOIN Reservas ON Capitanes.cid = Reservas.cid;
```
Que también es equivalente a:

```sql
SELECT * 
FROM Capitanes NATURAL LEFT OUTER JOIN Reservas;
```

Si ejecutas la siguiente consulta, verás que capitanes como Juan, Andy, Felipe, Oscar, Pedro, Rosa y Romano, que no habían hecho reservas, están en el resultado y que además tiene la información de la reserva como nulos.

In [ ]:
%%sql
SELECT * 
FROM Capitanes LEFT OUTER JOIN Reservas ON Capitanes.cid = Reservas.cid;

 * postgresql+psycopg2://@/postgres

    cid      cnombre  crating  cedad   cid    bid       fecha
0    23  King Arturo      8.0     31  23.0  101.0  2016-10-10
1    23  King Arturo      8.0     31  23.0  102.0  2016-10-10
2    23  King Arturo      8.0     31  23.0  103.0  2016-10-08
3    23  King Arturo      8.0     31  23.0  104.0  2017-10-07
4    31         Andy      8.0     55  31.0  102.0  2017-11-10
5    31         Andy      8.0     55  31.0  103.0  2018-11-06
6    31         Andy      8.0     55  31.0  104.0  2018-11-12
7    64      Isidora      7.5     35  64.0  101.0  2018-09-05
8    64      Isidora      7.5     35  64.0  102.0  2018-09-08
9    74      Isidora      9.0     35  74.0  103.0  2018-09-08
10   98    Constanza      NaN     20  98.0  101.0  2018-09-10
11   98    Constanza      NaN     20  98.0  102.0        None
12   71        Pedro     10.0     16   NaN    NaN        None
13   85         Rosa      3.0     25   NaN    NaN        None
14   32       Felipe      8.4     25   NaN    NaN        None
15   95       Romano      5.5     63   NaN    NaN        None
16   29         Juan      1.0     33   NaN    NaN        None
17   58        Oscar     10.0     35   NaN    NaN        None

SQLite no soporta *right outer join* ni *full outer join*, pero las consultas se verían de la siguiente forma:

**Right Outer Join:**

```sql
SELECT * 
FROM Capitanes NATURAL RIGHT OUTER JOIN Reservas;
```
Equivalente a

```sql
SELECT * 
FROM Capitanes RIGHT OUTER JOIN Reservas ON Capitanes.cid = Reservas.cid;
```

**Full Outer Join:**

```sql
SELECT * 
FROM Capitanes NATURAL FULL OUTER JOIN Reservas;
```
Equivalente a

```sql
SELECT * 
FROM Capitanes FULL OUTER JOIN Reservas ON Capitanes.cid = Reservas.cid;
```

Agreguemos la siguiente tupla a la tabla de `Botes` para realizar las siguientes consultas:

In [ ]:
%sql INSERT INTO Botes VALUES (105, 'El Catán', 'Blanco')

 * postgresql+psycopg2://@/postgres

Empty DataFrame
Columns: []
Index: []

**13.** Para cada color de bote, obtén el promedio de la edad de los capitanes que reservaron un bote de ese color. No dejes ningún color fuera del resultado.

**14.** Para cada nombre de bote, obtén el rating máximo de los capitanes que lo han reservado. No dejes ningún nombre fuera del resultado.

Si no quisiéramos permitir el uso de nulos en una cierta columna, podemos especificar `NOT NULL` al definir la tabla. Por ejemplo, si no queremos nulos en el nombre de los capitanes, podemo hacer:

```sql
CREATE TABLE Capitanes(cid INT PRIMARY KEY, cnombre VARCHAR(100) NOT NULL, crating FLOAT, cedad INT);
```

### 2.4 Inserción y eliminación más compleja

Lo último que veremos es una forma de insertar y eliminar tuplas de forma más compleja. Por ejemplo podemos insertar valores de una consulta.

**15** Crea una tabla `CapitanesTop(cid INT, cnombre VARCHAR(100))`

In [ ]:
%sql CREATE TABLE CapitanesTop(cid INT, cnombre VARCHAR(100));

 * postgresql+psycopg2://@/postgres

Empty DataFrame
Columns: []
Index: []

Ahora ejecuta la siguiente inserción. Nota que para insertar desde una consulta no debemos escribir la instrucción `VALUES`.

In [ ]:
%%sql
INSERT INTO CapitanesTop
SELECT cid,cnombre
FROM Capitanes
WHERE crating > 8

 * postgresql+psycopg2://@/postgres

Empty DataFrame
Columns: []
Index: []

Finalmente, si quieres dejar capitanes que tienen un rating igual o superior a 9 puedes escribir la siguiente consulta:

In [ ]:
%%sql
DELETE FROM CapitanesTop
WHERE cid IN
  (SELECT cid
  FROM Capitanes
  WHERE crating < 9)

 * postgresql+psycopg2://@/postgres

Empty DataFrame
Columns: []
Index: []

In [ ]:
%sql SELECT * FROM CapitanesTop;

 * postgresql+psycopg2://@/postgres

   cid  cnombre
0   58    Oscar
1   71    Pedro
2   74  Isidora